<form [formGroup]="form" (ngSubmit)="processDelivery()">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" size="30" formControlName="name">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" size="30" formControlName="address">
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" size="30" formControlName="email">
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td>
                <input type="date" size="30" formControlName="deliveryDate">
            </td>
        </tr>
        <tr>
            <td>Session:</td>
            <td>
                AM<input type="radio" name="session" value="AM">
                PM<input type="radio" name="session" value="PM">
            </td>
        </tr>
        <tr>
            <td>Options:</td>
            <td>
                Insurance <input type="checkbox" value="Insurance">
                Priority <input type="checkbox" value="Priority">
            </td>
        </tr>
        <tr>
            <td> Comments:</td>
            <td>
                <textarea name="" id="" cols="50" rows="8" formControlName="comments"></textarea>
            </td>
        </tr>
    </table>
    <button type="submit">Place order</button>
</form>